*.docx
test.ipynb
test.py
ToDelete.py
.env 
.terraform/
.logs/
.terraform.lock.hcl
InsightMD_Chronology.ipynb 
InsightMD_Summary.ipynb
main.terraform
terraform.tfstate
terraform.tfstate.backup
MCP.ipynb
nvidiavnev/
logs/
main.tf
Nvidia_Agentic_AI_Architecture.drawio
.DS_Store 